* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* #region Colors */
  --color-amadeus-dark: #000314;
  --color-amadeus: #000628;
  --color-amadeus-light: #0018A3;
  --color-bittersweet: #FF785A;

  --color-white: #FFFFFF;
  --color-grey-light: #E0E0E0;
  --color-grey: #C0C0C0;
  --color-grey-dark: #808080;
  --color-black: #000000;
  /* #endregion */

  /* #region Theme */
  --color-bg: var(--color-amadeus);
  --color-bg-inverse: var(--color-amadeus-light);
  --color-fill: var(--color-white);
  --color-fill-hover: var(--color-grey-light);
  --color-fill-active: var(--color-grey-dark);
  --color-surface: var(--color-amadeus-dark);

  --color-on-bg: var(--color-grey-light);
  --color-on-bg-inverse: var(--color-white);
  --color-on-fill: var(--color-black);
  --color-on-surface: var(--color-white);
  /* #endregion */

  /* #region Layout */
  --width-outline: 1px;

  --radius-none: 0;
  --radius-small: 8;
  --radius-medium: 16;
  --radius-large: 24;
  --radius-full: 1000;

  --space-x0: 0;
  --space-x1: 4;
  --space-x2: 8;
  --space-x3: 12;
  --space-x4: 16;
  --space-x5: 20;
  --space-x6: 24;
  --space-x7: 28;
  --space-x8: 32;
  --space-x9: 36;
  --space-x10: 40;
  --space-x11: 44;
  --space-x12: 48;
  /* #endregion */

  /* #region Typescale */
  --type-root-size: calc(1 / 16rem);

  --type-body-size: calc(16 * var(--type-root-size));
  --type-body-weight: 400;

  --type-label-size: calc(14 * var(--type-root-size));
  --type-label-weight: 700;

  --type-title-size: calc(12 * var(--type-root-size));
  --type-title-weight: 500;
  /* #endregion */

  --font-sans-serif: ui-sans-serif, sans-serif;
  --font-mono: ui-monospace, monospace;
}

html,
body {
  width: 100%;
}

html {
  color-scheme: dark;
}